/* 顶部strat */

.header{
    width: 100%;
    height: 180px;
    position: relative;
}
.header img{
    width: 100%;
    height: 180px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* 顶部end */

/* 11111111111111111111111111111111111111111111111111111111111 */
/* 导航strat */

.black-nav{
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #a22624;
}

.wrap{
   width: 1226px;
   margin: 0 auto;
}

.black-nav .wrap .black-nav-left{
    float: left;
}

.black-nav .wrap li{
    float: left;
    font-size: 20px;
    position: relative;
}
.black-nav a{
    color: #ffaf60;
}
.black-nav .wrap li span{
    color: #a22624;
    margin: 0 3px;
}
.black-nav li a:hover{
  color: #ff6700;
}
/* 导航滑动门(二维码部分)strat */
.download{
    width: 124px;
    height: 0;
    background-color: #fff;
    box-shadow: 0 1px 5px #aaa;
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -62px;
    overflow: hidden;
}
.download img{
    width: 90px;
    margin: 18px auto 0;
}
.download p{
    color: #333;
    font-size: 12px;
    line-height: 12px;
}
.black-nav-left li:hover>.download{
    height: 150px;
}


/* 导航滑动门(二维码部分)end */



/* 导航end */
/* 222222222222222222222222222222222222222222222222222222222222222222222222222222 */

/* banner start */

/* 无缝start */

.banner img{
    width: 100%;
} 
 :root {
    --width: 1226px;
    --height: 460px;
  } 
 
  div.banner {
    width: var(--width);
    height: var(--height);
    margin: 0 auto;
    overflow: hidden;
  }

  li.item {
    width: var(--width);
    height: inherit;
    box-sizing: border-box;
    border: .2rem solid #f1ede4;
    background-color: wheat;
    color: #fff;
    font-size: 4rem;
    text-align: center;
    line-height: var(--height);

    float: left;
  }
  ul.list {
    width: calc(var(--width) * 4);
    height: inherit;
    position: relative;
    z-index: -1;

    /* 为了看到完整效果，延时1s */
    animation: move 10s ease 1s infinite;
  }
  @keyframes move {
    0% {
      transform: translate(calc(0 * var(--width)));
    }
    50% {
      transform: translate(calc(-1 * var(--width)));
    }
    100% {
      transform: translate(calc(-2 * var(--width)));
    }
  }
  @keyframes move {
    0% {
      transform: translate(calc(0 * var(--width)));
    }
    33% {
      transform: translate(calc(-1 * var(--width)));
    }
    66% {
      transform: translate(calc(-2 * var(--width)));
    }
    100% {
      transform: translate(calc(-3 * var(--width)));
    }
  }

  /* 无缝end */


  /* banner透明框start */
  .slide{
    width: 234px;
    height: 420px;
    padding: 20px 0;
    background-color: rgba(105, 101, 101, 0.6);
    position: absolute;
    left: 0;
    top: 0;
  }
  .banner>.wrap{
    position: relative;
  }

  .slide>ul>li{
    height: 62px;
    line-height: 62px;
    text-align: left;
    padding-left: 30px;
    font-size: 16px;
  }
  

  .slide ul li a{
    color: #f1ede4;
  }
  .slide ul li a i{
    float: right;
    padding-right: 20px;
  }
  .slide>ul>li:hover{
    background-color: #a22624;
  }
 /* banner透明框end */


  /* banner滑动门start */

  .slide-list{
    width: 992px;
    height: 460px;
    background-color: #fff;
    border: 3px solid #e0e0e0;
    border-left: none;
    box-sizing: border-box;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.18);
    position: absolute;
    top: 0;
    left: 234px;
    display: none;
  }

  .slide-list ul{
    width: 100%;
  }
  .slide-list ul li{
    width: 240px;
    height: 76px;
    float: left;
    padding: 18px 0 18px 20px;
    box-sizing: border-box;
    line-height: 76px;
  }
  .slide-list img{
    width: 80px;
    margin-right: 10px;
  }
  .slide-list span{
    color: #333;
    font-size: 14px;
    position: relative;
    top: -10px;
  }

  .slide-list li:hover span{
    color: #ff6700;
  }
  .slide li:hover .slide-list{
    display: block;
  }
  
  /* banner滑动门end */


/* banner end */

/* 333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333 */


/* 444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444 */

/* 模块start */

.ad{
  width: 100%;
  height: 170px;
  padding: 14px 0;
}

.ad img{
  width: 100%;
  height: 170px;
}
/* 模块end */

/* 印象start */


.yin{
  width: 1226px;
  height: 700px;
  float: left;
  margin: 0 0 20px 0;
}
.yin-nav{
  width: 190px;
  height: 600px;
  margin: 0 0 12px 12px;
  background-color: #f1ede4;
  box-sizing: border-box;
  float: left;
  transition: all 0.2s;
}

.yinw-nav{
  width: 190px;
  height: 600px;
  margin: 0 0 12px 12px;
  background-color: #f1ede4;
  box-sizing: border-box;
  float: left;
  padding: 70px 0 0 0;
  transition: all 0.2s;
}

.yin-nav-img{
  width: 190px;
  height: 600px;
 
}

.yin-nav-name{
  width: 214px;
  height: 21px;
  color: #f1ede4;
  line-height: 21px;
  margin: 0 auto 2px;
}


/* 印象end */

/* 人文start */


.ren{
  width: 1226px;
  height: 700px;
  float: left;
  margin: 0 0 20px 0;
}
.ren-nav{
  width: 190px;
  height: 600px;
  margin: 0 58px 0 58px;
  background-color: #f1ede4;
  box-sizing: border-box;
  float: left;
  transition: all 0.2s;
}

.renw-nav{
  width: 190px;
  height: 600px;
  margin: 0  58px 0 58px;
  background-color: #f1ede4;
  box-sizing: border-box;
  float: left;
  padding: 40px 0 0 0;
  transition: all 0.2s;
}
/* 
.ren-nav-img{
  width: 190px;
  height: 600px;
 
} */

.ren-nav-name{
  width: 214px;
  height: 21px;
  color: #f1ede4;
  line-height: 21px;
  margin: 0 auto 2px;
}


/* 人文end */

/* 荆门钟祥start */

.zigui{
  width: 100%;
  background-color: #f1ede4;
  overflow: hidden;
  padding: 4px 0 12px;
}
.zigui-slide{
  width: 100%;
  height: 300px;
  float: left;
  margin: 0 0 40px 0;
}
.img_r {
  float: left;
  width: 400px;
  height: 300px;
}
 .zigui p {
  padding: 0 10px 10px 10px;
  text-indent: 2em;
  line-height: 30px;
  box-sizing: border-box;
  text-align: left;
  font-size: 20px

} 
.ziguiw-slide{
  width: 100%;
  height: 450px;
  float: left;
  margin: 0 0 40px 0;
}

.ziguif-slide{
  width: 100%;
  height: 400px;
  float: left;
  margin: 0 0 40px 0;
}

.ziguih-slide{
  width: 100%;
  height: 400px;
  float: left;
  margin: 0 0 40px 0;
}

.ziguid-slide{
  width: 100%;
  height: 650px;
  float: left;
  margin: 0 0 40px 0;
}
/* 荆门钟祥end */

/* 5555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555 */

/* 魅力钟祥start */

.content{
  width: 100%;
  background-color: #f1ede4;
  overflow: hidden;
  padding: 4px 0 12px;
}

/* h1标签start */

 h1 {
  position: relative;
  margin-bottom: 15px;
  text-align: center;
  line-height: 100px;
  color: #b83c3c;
}

 h1::before {
  content: '';
  position: absolute;
  top: 47px;
  left: 400px;
  width: 100px;
  height: 3px;
  background-color: #b83c3c;
}

 h1::after {
  content: '';
  position: absolute;
  top: 47px;
  right: 400px;
  width: 100px;
  height: 3px;
  background-color: #b83c3c;
}


/* h1标签end */

/* h2标签start */

h2 {
  position: relative;
  margin-bottom: 15px;
  text-align: center;
  line-height: 100px;
  color: #b83c3c;
}

 h2::before {
  content: '';
  position: absolute;
  top: 47px;
  left: 400px;
  width: 100px;
  height: 3px;
  background-color: #b83c3c;
}

 h2::after {
  content: '';
  position: absolute;
  top: 47px;
  right: 400px;
  width: 100px;
  height: 3px;
  background-color: #b83c3c;
}


/* h2标签end */

.photo{
  width: 1226px;
  height: 400px;
  float: left;
  margin: 0 0 50px 0;
}
.itemm{
  width: 292.5px;
  height: 200px;
  margin: 0 0 10px 10px;
  background-color: #a22624;
  box-sizing: border-box;
  float: left;
  border-radius: 15px;
  transition: all 0.2s;
}
.item-img{
  width: 260px;
  height: 160px;
  margin: 9px 0 3px 3px;
  border-radius: 10px;
}
.itemm:hover{
  transform: translateY(-2px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.7);
}
.item-name{
  width: 214px;
  height: 21px;
  color: #f1ede4;
  line-height: 21px;
  margin: 0 auto 2px;
}

.itemm p:hover{
    color: #ff6700;
}
/* 魅力钟祥end */

/* 6666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666 */

/* 查看更多 start */
.while-nav{
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #f1ede4;
}

.wrap{
 width: 1226px;
 margin: 0 auto;
}

.while-nav .wrap .while-nav-left{
  float: left;
}
.while{
  width: 150px;
  height: 50px;
  background-color: #a22624;
  border-radius: 30px 15px;
}
.while-nav .wrap li{
  float: left;
  font-size: 20px;
  position: relative;
  padding: 0 0 20px 23px;
}
.while-nav a{
  color: #ffaf60;
}

.while-nav li a:hover{
  color: #ff6700;
}

.www{
  height: 30px;
  color: #f1ede4;
}
/* 查看更多 end */

/* 调研视频start */

.diaoyan{
  width: 100%;
  background-color: #f1ede4;
  overflow: hidden;
  padding: 4px 0 12px;
}

.video-box{
  width: 100%;
  height: 299px;
  background-color: #f1ede4;
}

.video-box>div{
  width: 296px;
  height: 220px;
  background-color: #e1e1e1;
  float: left;
  margin-bottom: 14px;
  margin-right: 10px;
  transition: all 0.2s linear;
  border-radius: 15px;
}


.video-box>div:last-child{
  margin-right: 0;
}

.video-box>div:hover{
  transform: translateY(-2px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.7);
}

.video-img {
  width: 296px;
  height: 180px;
  margin-bottom: 5px;
  position: relative;
}

.btn{
  width: 32px;
  height: 32px;
  border-radius: 100%;
  border: 2px solid #000000;
  position: absolute;
  left: 132px;
  bottom: 74px;
}
.sanjiao{
  width: 0;
  height: 0;
  border-left: 10px solid #000000;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  margin: 10px auto;
}
.video-name{
  color: #000000;
  font-size: 14px;
}
.video-img:hover .btn{
  background: #a22624;
  border-color: #a22624;
}
/* 调研视频end */

/* 7777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777 */

/* 页脚start */

.yejiao{
  width: 100%;
  height: 40px;
  background-color: #a22624;
}


.yejiao .fu{
  float:right;
  margin: 10px 30px 0 0;
  white-space: pre;
}
/* 页脚end */

/* 8888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888 */

/*  支教活动 start */

.quweiketang{
  width: 100%;
  background-color: #f1ede4;
  overflow: hidden;
  /* padding: 4px 0 12px; */
}
.quweiketang-silde{
  width: 100%;
  background-color: #f1ede4;
  height: 1000px;
  float: left;
  margin: 0 0 40px 0;

}
.img_f {
  /* float: right; */
  width: 300px;
  margin-left: 20px;
}
 .quweiketang p {
  text-indent: 2em;
  line-height: 30px;
  box-sizing: border-box;
  text-align: left;
  font-size: 20px
} 

/*  支教活动 end */

/* 000000000000000000000000000000000000000000000000000000000000000000000000000000000000 */

/* 旅游路线 start */

.lvyou{
  width: 100%;
  height: 500px; 
  padding: 50px 0 20px 0;
  background-color: #f1ede4;
}

.lvyou-img{
  width: 900px;
  height: 500px; 
  border-radius: 20px;
}

.lvyou>.wrap{
  position: relative;
}

.lvyou-silde{
  width: 900px;
  height: 200px;
  background-color: rgba(17, 15, 15, 0.4);
  position: absolute;
  left: 162px;
  top: 300px;
  border-radius:  0 0 20px 20px;
}

.da{
  height: 42px;
  text-align: left;
  padding-left: 30px;
  padding-top: 60px;
  font-size: 50px;
  color: #ffffff;
}

.xiao{
  text-align: left;
  padding-left: 30px;
  padding-top: 35px;
  font-size: 25px;
  color: #ffffff;
}


.lvyou-img:hover{
  transform: translateX(-2px);
  box-shadow: 0 15px 30px rgba(197, 5, 5, 0.7);
}

/* 旅游路线 end */

/* 1000000001010100101010101010101010101010101010010101010101010101010101010101010101*/

 /* 回到顶部start  */
    
   .huiding{
    width: 40px;
    height: 100px;
    position: fixed;
    bottom: 50px;
    right: 0;
    background-color: #a22624;
    border-radius: 5px;
   }
   .hui{
    padding: 10px 0 0 0 ;
   }
   .huiding ul li a {
      color: #ffaf60;
   }

/* 回到顶部 end   */

.meiye{
  width: 140px;
  height: 435px;
  padding: 10px 0;
  background-color: rgba(241, 97, 97, 0.6);
  position: fixed;
  left: 0;
  top: 230px;
}
      
.meiye>ul>li{
  height: 27px;
  line-height: 27px;
  text-align: left;
  padding-left: 5px;
  font-size: 16px;
}


.meiye ul li a{
  color: #f1ede4;
}
.meiye ul li a i{
  float: right;
  padding-right: 20px;
}
.meiye>ul>li:hover{
  background-color: #a22624;
}


.lvye{
  width: 200px;
  height: 365px;
  padding: 10px 0;
  background-color: rgba(241, 97, 97, 0.6);
  position: fixed;
  left: 0;
  top: 230px;
}
      
.lvye>ul>li{
  height: 30px;
  line-height: 30px;
  text-align: left;
  padding-left: 10px;
  font-size: 16px;
}


.lvye ul li a{
  color: #f1ede4;
}
.lvye ul li a i{
  float: right;
  padding-right: 20px;
}
.lvye>ul>li:hover{
  background-color: #a22624;
}

/* 实践文章start */

.shijian{
  width: 100%;
  height: 320px;
  background-color: #f1ede4;
}
.shijian-img{
  margin-top: 25px;
  width: 30%;
  height: 275px;
  float: left;
  background-color: #a22624;
  border-radius: 30px;
}
.shijian-img img{

  width: 100%;
  height: 275px;
  float: left;
  border-radius: 30px;
}
.shijian-wenzhi{
  width: 65%;
  height: 300px;
  float: left;
  background-color: #a22624;
  margin-left: 5%;
  margin-top: 10px;
  border-radius: 20px;
}
 .wenzhi{
  padding-top: 10px;
  text-indent: 2em;
  text-align: left;
  font-size: 20px;
  color: #f1ede4;
}
.biaoti{
  font-size: 35px;
  text-align: center;
  color: #f1ede4;
} 

.chakan{
  width: 100%;
  height: 50px;
  background-color: #f1ede4;
}

.chakan-silde{
  float: right;
  background-color: #a22624;
  width: 80px;
  height: 30px;
  margin-top: 10px;
  padding-top: 5px;
  border-radius: 10px;
}
.chakan a{
  color: #ffaf60;
}

.chakan-silde a:hover{
  color: #ff6700;
}


/* 实践文章end */


/* 页数strat */

.yeshu-nav{
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #f1ede4;
  margin-bottom: 20px;
  margin-top: 20px;
}

.wrap{
 width: 1226px;
 margin: 0 auto;
}

.yeshu-nav .wrap .yeshu-nav-left{
  float: right;
}

.yeshu-nav .wrap li{
  float: left;
  font-size: 20px;
  padding-left: 25px;
  margin-left: 10px;
  padding-right: 25px;
  background-color: #a22624;
  border-radius: 10px;
}
.yeshu-nav a{
  color: #ffaf60;
}
.yeshu-nav .wrap li span{
  color: #a22624;
  margin: 0 3px;
}
.yeshu-nav li a:hover{
color: #ff6700;
}

/* 页数end */